<div class="container">
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand"
       {% if user.is_authenticated %}
            href="{% url 'post-list' %}"
       {% else %}
            href="{% url 'index' %}"
       {% endif %}

    ><i class="fas fa-comment"></i> Portal Społecznościowy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Strona główna</a>
        <a class="nav-link" href="#">Funkcje</a>
        <a class="nav-link disabled">Wyłączony</a>
      </div>
    </div>
  </div>
    <form class="d-flex ">
           <div class="input-group">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Nazwa użytkownika" aria-label="Nazwa użytkownika" aria-describedby="basic-addon1">
           </div>
      </form>
    {% if user.is_authenticated %}
    <div class=" nav-item dropdown">
          <a class="nav-ling dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-user"></i></a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' user.profile.pk %}">Profil</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Wyloguj się</a></li>
          </ul>
      </div>
    {% endif %}
</nav>
</div>